.main{
    display: flex;
    padding-bottom: 50px;
}

.main__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;

}

.main__products_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 50px;
}