html{
    position: relative;
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
}

/*Перебивка стилей MUI*/

.MuiCardMedia-img{
    object-fit: contain !important;
}

.MuiSelect-select {
    padding: 10px !important;
}

.MuiButtonBase-root{
    height: 100%;
}

.MuiPaper-root{
    line-height: 30px !important;
}

.MuiTypography-root{
    line-height: 1em !important;
}